@font-face
	font-family 'MabryPro-Regular'
	src url('../../fonts/MabryPro-Regular.woff2') format('woff2')

@font-face
	font-family 'MabryPro-Medium'
	src url('../../fonts/MabryPro-Medium.woff2') format('woff2')

@font-face
	font-family 'MabryPro-Bold'
	src url('../../fonts/MabryPro-Bold.woff2') format('woff2')