$ff-MabryPro-Regular= 'MabryPro-Regular', sans-serif
$ff-MabryPro-Medium= 'MabryPro-Medium', sans-serif
$ff-MabryPro-Bold= 'MabryPro-Bold', sans-serif

$c-white = #FFF
$c-black = #1E1E1E 
$c-blue = #284CA6 
$c-orange = #FF522D
$c-orange-light = #FB4D26